* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2%;
}

html,body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: .5s;
    background-image: linear-gradient(white, #0c0ce94d);
}

header {
    height: 200px;
    padding: 20px 0;
}

.logo {
    width: 50%;
    display: flex;    
}

.logo img {
    width: 12rem;
}

.logo .trilho {
    width: 55px;
    height: 25px;
    background-color: #4d4d4d;
    margin-top: 35px;
    margin-left: 30px;
    border-radius: 15px;
    position: relative;
}

.logo .trilho .indicador {
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius: 50%;
    transform: scale(.9);
    cursor: pointer;
    position: absolute;
    left: 0;
    transition: .5s;
}

.menu {
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin-left: 55px;
    transition: color 0.5s ease-in-out;
}

.menu a:hover {
    color: #0c0ce94d;
    text-decoration: none;
    font-weight: bold;
    margin-left: 55px;
}

section.container {
    height: calc(100% - 200px);
    position: relative;
}

.extras {
    position: absolute;
    bottom: -550px;
    right: -550px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color: #0c0ce946;
    visibility: hidden;
}

.extras img {
    width: 30rem;
    margin-top: 80px;
    position: absolute;
}

.texto-container {
    margin-top: 90px;
}

.texto-container h1 {
    font-size: 50px;
}

.texto-container p {
    margin: 20px 0;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    max-width: 800px;
}

.texto-container button {
    width: 120px;
    height: 30px;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    background-color: #D5A9CF;
    cursor: pointer;
}

.texto-container button a {
    text-decoration: none;
    color: #fff;
}

.scroll-text,.scroll-img {
    visibility: hidden;
}

/*dark mode*/

.logo .trilho.dark {
    background-color: #3c3c3c;
}

.logo .trilho.dark .indicador {
    left: 30px;
    background-color: #fff;
}

body.dark {
    background-image: linear-gradient(rgb(71, 1, 71),rgb(24, 23, 23));
}

body.dark h1, p {
    color: #fff;
}

body.dark p{
    color: #fff;
}

body.dark .menu a{
    color: #fff;
}

body.dark .menu a:hover{
    color: purple;
}

body.dark .extras {
    background-color: purple;
}