* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2%;
}

html,body {
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    transition: .5s;
    background-image: linear-gradient(white, #0c0ce94d);
}

header {
    height: 200px;
    padding: 20px 0;
}

.logo {
    width: 50%;
    display: flex; 
}

.logo img {
    width: 12rem;
}

.logo .trilho {
    width: 55px;
    height: 25px;
    background-color: #4d4d4d;
    margin-top: 35px;
    margin-left: 30px;
    border-radius: 15px;
    position: relative;
}

.logo .trilho .indicador {
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius: 50%;
    transform: scale(.9);
    cursor: pointer;
    position: absolute;
    left: 0;
    transition: .5s;
}

.menu {
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin-left: 55px;
    transition: color 0.5s ease-in-out;
}

.menu a:hover {
    color: #0c0ce94d;
    text-decoration: none;
    font-weight: bold;
    margin-left: 55px;
}

.menu .atual {
   color: #0c0ce94d;
}

section.container {
    height: calc(100% - 200px);
    position: relative;
}

.extras {
    position: absolute;
    bottom: 50px;
    right: 850px;
    width: 900px;
    height: 500px;
    border-radius: 80px;
    background-color: #0c0ce946;
}

.plus {
    position: absolute;
    top: 600px;
    left: 900px;
    width: 900px;
    height: 500px;
    border-radius: 80px;
    background-color: #0c0ce946;
}

.mais {
    position: absolute;
    top: 1230px;
    right: 850px;
    width: 900px;
    height: 500px;
    border-radius: 80px;
    background-color: #0c0ce946;
}

.extras img {
    width: 30rem;
    margin-top: 20px;
    margin-left: 325px;
    position: absolute;
}

.plus img {
    width: 30rem;
    margin-top: 20px;
    margin-left: 90px;
    position: absolute;
}

.mais img {
    width: 30rem;
    margin-top: 20px;
    margin-left: 325px;
    position: absolute;
}

.texto-container1 {
    margin-top: 90px;
    margin-left: 800px;
}

.texto-container1 h1 {
    font-size: 50px;
}

.texto-container1 p {
    margin: 50px 0;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    max-width: 800px;
    position: relative;
}

.texto-container2 {
    margin-top: 230px;
    margin-left: 90px;
    margin-right: 700px;
}

.texto-container2 h1 {
    font-size: 50px;
}

.texto-container2 p {
    margin: 50px 0;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    max-width: 800px;
    position: relative;
}

.texto-container3 {
    margin-top: 250px;
    margin-left: 800px;
    padding-bottom: 150px;
}

.texto-container3 h1 {
    font-size: 50px;
}

.texto-container3 p {
    margin: 50px 0;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    max-width: 800px;
    position: relative;
}

/*dark mode*/

.logo .trilho.dark {
    background-color: #3c3c3c;
}

.logo .trilho.dark .indicador {
    left: 30px;
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #0c0ce94d;
}

body.dark {
    background-image: linear-gradient(rgb(71, 1, 71),rgb(24, 23, 23));
}

body.dark h1, p {
    color: #fff;
}

body.dark p{
    color: #fff;
}

body.dark .menu a{
    color: #fff;
}

body.dark .menu a:hover{
    color: purple;
}

body.dark .extras {
    background-color: purple;
}

body.dark .plus {
    background-color: purple;
}

body.dark .mais {
    background-color: purple;
}

body.dark .menu .atual {
    color: purple;
}

body.dark ::-webkit-scrollbar {
    width: 10px;
}

body.dark::-webkit-scrollbar-thumb {
    background-color: purple;
}



@media screen and (max-width: 1800px) {
    .container {
        width: 75%;
        height: auto;
    }
    .extras {
        right: -800px;
    }
    .texto-container {
        max-width: 500px;
    }
    .texto-container3 {
        margin-top: 250px;
        margin-left: 200px;
        padding-bottom: 150px;
    }
}

@media screen and (max-width: 10px) {
    .container {
        width: 75%;
        height: auto;
    }
    .extras {
        right: -900px;
    }
    .texto-container {
        max-width: 400px;
    }
}

@media screen and (max-width: 920px) {
    .container {
        width: 75%;
        height: auto;
    }
    .extras img{
        width: 0;
    }
    .texto-container {
        max-width: 600px;
        margin-top: 20px;
        margin-left: 120px;
    }
}

@media screen and (max-width: 620px) {
    .container {
        width: 75%;
        height: auto;
    }
    .logo {
        width: 30%;
        display: flex;    
    } 
    .logo img {
        width: 8rem;
    }
    .menu {
        width: 60%;
    }
    .menu a{
        margin-left: 20px;
    }
    .logo .trilho {
        width: 70px;
        height: 15px;
        background-color: #4d4d4d;
        margin-top: 35px;
        margin-left: 30px;
        border-radius: 15px;
        position: relative;
    }
    .logo .trilho .indicador {
        width: 15px;
        height: 15px;
        background-color: #000;
        border-radius: 50%;
        transform: scale(.9);
        cursor: pointer;
        position: absolute;
        left: 0;
        transition: .5s;
    }
    .logo .trilho.dark .indicador {
        left: 5px;
        background-color: #fff;
    }
    .extras img{
        width: 0;
    }
    .texto-container {
        max-width: 300px;
        margin-top: 15px;
        /* margin-left: 120px; */
    }
    .texto-container h1 {
        font-size: 30px;
    }
    .texto-container p {
        font-size: 16px;
    }
}